.sidebar-nav {
    grid-area: sidebar-nav;
    padding: 0 5px;
}
.sidebar-nav a {
    padding: 8px 10px;
    border-radius: 3px;
}
.sidebar-nav a.active {
    background-color: #fff;
}
.sidebar-nav a:hover {
    background-color: #fff;
}