.post + .post {
    margin-top: 20px;
}
.post .post-content{
    display: flex;
    align-items: flex-start;
}
.post img {
    width: 40px;
    margin-right: 10px;
    flex-shrink: 0;
}
.post p {
    text-align: justify;
}
.rating-group {
    text-align: right;
    color: #987EF5;
}