.header {
    grid-area: header;
    background-color: #987EF5;
}
.header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .header-logo {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    color: #fff;
    font-size: 24px;
}
.header .header-logo img{
    margin-right: 10px;
}
.login {
    font-size: 22px;
    cursor: pointer;
}
.login a{
    color: #fff;
    display: flex;
    align-items: center;
}
.login a img {
    width: 40px;
    margin-right: 6px;
}
.header .login a:active,
.header .login a:hover,
.header .login a:focus{
    color: #fff;
}
.login a .icon-login {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}
.login a span{
    display: inline-block;
    vertical-align: middle;
}