/*RESET START*/
* {
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #404040;
}
a:active, a:hover, a:focus {
  color: #404040;
}
textarea {
  outline: none;
  border: 1px solid rgba(152,126,245, .3);
  border-radius: 3px;
  font-family: "Verdana", sans-serif;
}
textarea:focus {
  border-color: #987EF5;
}
button {
  border: none;
  outline: none;
}
h1 {
  margin-bottom: 20px;
}
/*RESET END*/
.logo {
  height: 44px;
}
.bg-white {
  background-color: #fff;
}
.container {
  margin: 0 auto;
  max-width: 1160px;
}
.btn {
  width: 110px;
  padding: 7px;
  cursor: pointer;
  border-radius: 2px;
}
.btn.purple {
  background-color: #987EF5;
  color: white;
}
.btn.purple:hover {
  background-color: rgba(152, 126, 245, 0.91);
}
.grid {
  display: grid;
}
.app-wrapper {
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "header header"
    "main main";
}
main {
  grid-area: main;
  background-color: #EDEFF0;
  min-height: calc(100vh - 60px);
}
.content {
  grid-area: content;
  padding: 20px;
  border-radius: 3px;
}
main .container.main-container {
  grid-template-columns: 2fr 12fr;
  grid-template-areas: "sidebar-nav content";
  padding: 15px 0;
}
main .sidebar-nav {
  display: flex;
  flex-direction: column;
}
input[type="checkbox"] {
  display: none;
}
.checkbox-group {
  display: flex;
}
.input-group, .checkbox-group {
  margin-bottom: 12px;
}
input[type='text'],
input[type='password'] {
  min-width: 220px;
  padding: 6px 8px;
  outline: none;
  font-size: 16px;
  border: 1px solid rgba(152,126,245, .3);
  border-radius: 3px;
  font-family: "Verdana", sans-serif;

}
.checkbox-group input[type='checkbox'] + label {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}
.checkbox-group input[type='checkbox'] + label::before {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  margin-right: 4px;
  width: 18px;
  height: 18px;
  background-color: rgba(195, 187, 187, 0.25);
  border: 6px solid transparent;
  border-radius: 2px;
}
.checkbox-group input[type='checkbox']:checked + label::before {
  border-color: #987EF5;
}
.input-group input:focus, .input-group input:active {
  border-color: #b87ef5;
}
.checkbox-group + .checkbox-group {
  margin-top: 8px;
}