/*RESET START*/
a {
  text-decoration: none;
}
/*RESET END*/
* {
  margin: 0;
}
.logo {
  height: 44px;
}
.bg-white {
  background-color: #fff;
}
.container {
  margin: 0 auto;
  max-width: 1160px;
}
.grid {
  display: grid;
}
.app-wrapper {
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "header header"
    "main main";
}
main {
  grid-area: main;
  background-color: #EDEFF0;
  height: calc(100vh - 60px);
}
.content {
  grid-area: content;
  padding: 10px 15px;
  border-radius: 3px;
}
main .container.main-container {
  grid-template-columns: 2fr 12fr;
  grid-template-areas: "sidebar-nav content";
  padding: 15px;
}
main .sidebar-nav {
  display: flex;
  flex-direction: column;
}
