.profile-info {
    display: flex;
}
.profile-photo {
    display: flex;
    flex-direction: column;
}
.profile-photo img {
    max-width: 240px;
    margin-bottom: 10px;
}
.profile-description .profile-description-group + .profile-description-group {
    margin-top: 8px;
}
.profile-description .profile-description-group .profile-term{
    color: #987EF5;
    margin-right: 10px;
    font-size: 20px;
}